@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: rgb(86, 86, 86);
    background-image: url('../images/backgrounds/bg4.jpg');
    background-position: center;
    background-size: cover;
}

.filter {
    position: fixed ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

/* v Navigation v */
.nav {
    background-color: #222;
    transition: all .3s ease-in-out;
}

.nav .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all .3s ease-in-out;
}

.nav h2 {
    font-size: 2rem;
}

.red {
    color: rgb(187, 60, 60);
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    transition: all .3s ease-in-out;
}

.nav span {
    transition: all .3s ease-in-out;
}

.nav ul a {
    margin-left: 20px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav ul a:hover {
    color: rgb(187, 60, 60);
    background-color: rgba(0, 0, 0, 0.3);
}

h2:hover a {
    color: rgb(187, 60, 60);
}

h2:hover span {
    color: #fff
}

nav ul .current {
    color: #fff;
    background-color: rgb(0, 0, 0, 0.3);
}

/* v Articles v */
.archive-wrapper {
    display: flex;
    order: 1;
}

.archive-articles {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    margin: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

article {
    margin: 20px;
    height: 200px;
    display: flex;
    background: linear-gradient(35deg,rgba(255, 255, 255, 0.2) 60%, rgba(245, 225, 235, 0.5));
    border-radius: 10px;
}

article .texts {
    display: flex;
    flex-direction: column;
    position: relative;
}
article img {
    object-fit: cover;
    width: 250px;
    height: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

article h2 {
    padding: 10px 20px;
    color: #fff;
}

article p {
    text-indent: 30px;
    padding: 0 20px;
    font-weight: 500;
    justify-self: center;
}

article .button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
}

article a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgb(187, 60, 60);
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

article:hover img {
    filter: blur(1px);
}

article a:hover {
    color: black;
    background-color: rgba(187, 60, 60, 0.8);
    transition: all .3s ease-in-out;
}

.paginator {
    align-self: flex-end;
    margin: 5px 20px 20px;
}
.paginator p {
  display: inline;
}

.paginator a {
    text-decoration: none;
    padding: 0 8px;
    margin: 5px;
    color: aliceblue;
    background-color: #333;
    border-radius: 50px;
}

.paginator a.curr {
    color: #000;
    background-color: #999;
}

/* v Aside v */
aside {
    width: 30vw;
    height: 70vh;
    margin: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

aside .aside-wrapper {
    display: flex;
    flex-direction: column;
}

aside .aside-wrapper h2 {
    text-align: center;
    color: #fff ;
    border-radius: 10px;
    border-bottom: 2px solid rgb(160, 160, 160);
}

aside .aside-wrapper a {
    text-decoration: none;
    color: #ddd;
    font-family: monospace, sans-serif;
    font-weight: lighter;
}

.latest-posts article,
.popular-posts article {
    width: 25vw;
    height: auto;
    padding: 5px;
    background: linear-gradient(35deg,rgba(255, 255, 255, 0.2) 60%, rgba(0, 0, 0, 0.5));
    box-shadow: 0 0 5px 1px black;
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.popular-posts {
    height: 50%;
}

/* v Footer v */
footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(187, 60, 60);
    background-color: #fff;
    padding: 0 2px;
    border-radius: 3px;
}