@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: rgb(86, 86, 86);
    background-image: url('../images/backgrounds/bg4.jpg');
    background-position: top;
    background-size: cover;
}

.filter {
    width: 100vw;
    height: 100vh;
    position: fixed;
     top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

/* v Navigation v */
nav {
    display: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.nav .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all .3s ease-in-out;
}

.nav h2 {
    font-size: 2rem;
}

.red {
    color: rgb(187, 60, 60);
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 7px 15px;
    transition: all .3s ease-in-out;
}

.nav span {
    transition: all .3s ease-in-out;
}

.nav ul a {
    margin-left: 20px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav ul a:hover {
    color: rgb(187, 60, 60);
    background-color: rgba(0, 0, 0, 0.3);
}

h2:hover a {
    color: rgb(187, 60, 60);
}

h2:hover span {
    color: #fff
}

nav ul .current {
    color: #fff;
    background-color: rgb(0, 0, 0, 0.3);
}

/* v Photo-gallery v */
.photos-gallery {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 1300px;
    align-items: center;
    justify-content: center;
}

.photo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 400px;
}


.photo img {
    width: 100%;
    padding: 5px 5px 0;
    border-radius: 10px;

}

.photo p {
    padding: 10px;
    text-align: center;
}

/* v Load more button v */
.load-more {
    display: block;
    margin: 40px auto;
    padding: 15px;
    color: #fff;
    background-color: rgb(187, 60, 60);
    border-radius: 50px;
    font-weight: bold;

}

.load-more:hover {
    color: black;
    background-color: rgba(187, 60, 60, 0.8);
}

/* v Footer v */
footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(187, 60, 60);
    background-color: #fff;
    padding: 0 2px;
    border-radius: 3px;
}