@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* v Header Section v */
.header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    height: 85vh;
    background-image: linear-gradient(to top, #000 1%, rgba(255, 255, 255, 0)), url('../images/backgrounds/bg3.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.3);
    order: -1;
}

header {
    position: relative;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
}

header .logo {
    font-size: 4em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: #fff
}

.red {
    color: rgb(187, 60, 60);
}

header .navigation {
    display: flex;
}

header .navigation li {
    list-style: none;
    font-weight: 200;
    font-size: 1.3em;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    margin-right: 40px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

header .navigation li a:hover {
    color: rgb(187, 60, 60);
    background-color: rgba(0, 0, 0, 0.3);
}

div.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.18);
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.content-box h1 {
    font-size: 3.2rem;
}

div.content-box p {
    font-size: 1.5rem;
    color: #fff;
}

/* v Expanding Cards Setion v */
.expanding-cards {
    width: 100vw;
    height: 80vh;
    background: linear-gradient(to bottom, #000 1%, #222933);
}

.expanding-cards .container {
    margin: 0 auto;
    display: flex;
    width: 90vw;
    justify-self: center;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.55;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.first {
    background-image: url('../images/expanding-cards/mark-one.jpg');
}

.second {
    background-image: url('../images/expanding-cards/renault-ft.jpg');
}

.third {
    background-image: url('../images/expanding-cards/tiger-ii.jpg');
}

.fourth {
    background-image: url('../images/expanding-cards/a7v.jpg');
}

.fifth {
    background-image: url('../images/expanding-cards/tsar-tank.jpg');
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 4;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* v Assortments v */
.assortments {
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(to bottom, #222933 1%, rgba(255, 255, 255, 0)), url('../images/backgrounds/bg1.jpg');
    background-size: cover;

}

.assortments .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    margin: auto;
}

.wrapper .archive,
.wrapper .gallery,
.wrapper .interesting {
    background-color: rgba(230, 230, 230, 0.1);
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    width: 40%;
    height: 210px;
    position: relative;
}

.wrapper h2 {
    font-size: 2rem;
    text-align: center;
}

.wrapper a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    background-color: rgb(187, 60, 60);
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.wrapper .interesting {
    background-color: rgba(230, 230, 230, 0.65);
    color: black;
}

/* v Footer v */
footer {
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(187, 60, 60);
    background-color: #fff;
    padding: 0 2px;
    border-radius: 3px;
}