@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.overview-top {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./images/bg3.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
}

header {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 4em;
}





.overview-mid {
    width: 100vw;
    height: 100vh;
}